body {
  touch-action: none;
}


#screen {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 0;
  user-select: none;

}

#noScriptAlertDiv {
  width:100%;
	height:100%;
}

#noScriptAlert {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width:100%;
	height:100%;
  overflow: hidden;
  z-index: 0;
  user-select: none;
  object-fit: contain;
}